/*============================

     GLOBAL/MOBILE STYLE

=============================*/

/* colors */

@bg-color: #ffffff;
@bg-color2: #1B1B1B;
@bg-color3: rgb(225,0,0);
@bg-color4: #C0C0C0;
@bg-color5: #FF9900;

/* font */

@header: 'Muli', sans-serif;
@paragraph: 'Roboto', sans-serif;

body, main {
    width: 100%;
    padding: 0;
    font-family: @paragraph;
}

header {
    background-color: @bg-color3;
    overflow: hidden;
}

.logo img {
    float: left;
    width: 90px;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
}

h1 {
    color: @bg-color;
    font-family: @header;
    padding: 10px 0 10px 20px;
    width: 60%;
    float: left;
    font-size: 1.1em;
}

button {
    font-size: 1.3em;
    color: @bg-color;
    background-color: @bg-color2;
    float: right;
    width: 10%;
    border: none;
    font-weight: bold;
}

nav {
    width: 100%;
    background-color: @bg-color2;
    .menu {
        padding: 0;
        > li {
            float: left;
            width: 90%;
            list-style: none;
            padding-top: 7px;
            padding-bottom: 7px;
            a {
                color: @bg-color;
                font-family: @paragraph;
                text-align: center;
                text-decoration: none;
                font-size: 1em;
                display: block;
            }
        }
    }
}

nav .menu li .dropdown {
    display: none;
    padding: 0;
    list-style-type: none;
    li {
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: @bg-color2;
        list-style-type: none;
        a {
            display: block;
            color: @bg-color;
        }
    }
}

 nav .menu li:hover .dropdown {
        display: block;
    }

nav .menu li:hover, nav .menu li .dropdown li:hover {
    background-color: @bg-color4;
    a {
      color: @bg-color3;  
    }
}

.clear {
    clear: both;
}

.textblock {
    padding: 1em;
}

h2 {
    font-family: @header;
    font-size: 1em;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: @bg-color4;
}

h3 {
    font-family: @header;
    font-size: 0.9em;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: underline;
    text-decoration-color: @bg-color5;
}

.center {
    text-align: center;
    padding-left: 0;
}

article {
    background-color: @bg-color;
    overflow: hidden;
    p {
        font-size: 0.9em;
        padding: 15px 10px 15px 10px;
    }
}

p a {
    text-decoration: none;
    color: @bg-color5;
    cursor: pointer;
}

p a:hover {
    color: @bg-color3;
}

.slogan {
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    padding-top: 0;
    padding-bottom: 20px;
    color: @bg-color3;
}

.gallery {
    padding: 0;
    clear: both;
}

.gallery img {
    padding-bottom: 10px;
}

.mobile-image, .dk-tb-image {
    max-width: 100%;
    width: 100%;
    height: auto;
}

aside {
    background-color: @bg-color4;
    overflow: hidden;
    p {
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

ul li {
    padding-bottom: 10px;
    list-style-type: square;
    font-size: 0.8em;
}

footer {
    overflow: hidden;
    clear: both;
    background-color: @bg-color2;
    p {
    color: @bg-color;
    font-size: 0.8em;
    float: left;
    padding: 15px 0px 10px 20px;
    font-family: @header;
    font-weight: bold;
    }
}

.social-icons {
    float: right;
    display: block;
    padding-top: 10px;
    padding-right: 20px;
}

.fa-facebook, .fa-twitter-square {
    color: @bg-color;
    font-size: 1.5em;
}

.footer-link a:hover {
    cursor: pointer;
    color: @bg-color3;
}

.copyright {
    background-color: @bg-color3;
    color: @bg-color;
    text-align: center;
    padding: 8px 0 8px 0;
    font-size: 0.6em;
    width: 100%;
    font-weight: normal;
}

/* Event Page */

table {
    padding-bottom: 20px;
}

td {
    border: 1px solid @bg-color2;
}

.course {
    width: 15%;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

.distance {
    width: 10%;
    text-align: center;
    font-size: 0.8em;
}

.description {
    width: 75%;
    padding: 10px;
    font-size: 0.8em;
}

.googlemap {
    text-decoration: none;
    color: @bg-color5;
    cursor: pointer;
    display: block;
    text-align: center;
}

.googlemap:hover {
    color: @bg-color3;
}

.red {
    color: @bg-color3;
    font-size: 1.1em;
    padding-bottom: 0;
}

.divider {
    border: 1px solid @bg-color4;
}


/* Registration Page */

.required {
    color: @bg-color3;
    padding-top: 0;
}

#registration {
    padding-top: 30px;
}

.name, .email, .emergency_name, .emergency_contact {
    width: 175px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid @bg-color2;
}

.accommodations {
    width: 200px;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid @bg-color2;
}

.age {
    width: 80px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid @bg-color2;
}

.gender-text, .role-text {
    font-size: 0.8em;
    display: inline-block;
}

label {
    display: inline-block;
    font-size: 0.8em;
    font-family: @paragraph;
    font-weight: bold;
    vertical-align: top;
}

span {
    text-decoration: underline;
    font-size: 0.8em;
}

.event1, .event2 {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 0.8em;
}

.submit {
    width: 80px;
    height: 30px;
    color: @bg-color;
    background-color: @bg-color5;
    font-size: 0.8em;
    font-weight: bold;
    float: left;
    margin: 20px 0 20px 20px; 
    display: block;
    border-radius: 20px;
    border: 2px solid @bg-color4;
}

.submit:hover {
    background-color: @bg-color3;
}

/* Contact Page */

.comment {
    width: 250px;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid @bg-color2;
}

.contact-list {
        padding-top: 20px;
    }

/* Success page */

.result {
    font-weight: bold;
}
    
.form-submit {
        font-size: 1em;
        text-align: left;
    }

/* FAQs Page */

.question1, .question2, .question3, .question4, .question5 {
  text-decoration: none;
  padding: 15px;
  font-size: 0.8em;
  color: @bg-color2;
  background-color: @bg-color4;
  margin: 15px 20px 20px 20px;
}

.question1:hover, .question2:hover, .question3:hover, .question4:hover, .question5:hover {
    background-color: @bg-color5;
}

.answer1, .answer2, .answer3, .answer4, .answer5 {
  display: none;
  padding: 0 10px 20px 10px;
  overflow: hidden;
  color: @bg-color2;
  background-color: @bg-color;
  margin-left: 20px;
  margin-right: 20px;
}

/* Only Mobile */

@media only screen and (max-width: 600px) {

    nav ul {
        display: none;
        li {
            border-bottom: 1px solid @bg-color4;
        }
    }

    .dk-tb-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }

    .except-mobile1, .except-mobile2  {
        display: none;
    }
    
    .weatherwidget-io {
        margin: 20px 15px 10px 15px;
    }
    
    .twitter-block {
        width: 300px;
        padding: 0 10px 10px 10px;
    }
    
    .footer-link {
        display: block;
        float:none;
        clear: both;
        text-align: center;
        font-size: 0.9em;
        padding: 10px 0 10px 0;
    }
    
}

/*============================

      RESPONSIVE STYLE

=============================*/


/* TABLET STYLES */

@media only screen and (min-width: 601px) {

    .logo img {
        width: 120px;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    h1 {
        font-size: 1.35em;
        padding-top: 30px;
    }

    nav .menu {
        display: block !important;
        li {
            float: left;
            width: 20%;
            padding-top: 9px;
            padding-bottom: 9px;
            position: relative;
            a {
                font-size: 1.4em;
                border-left: 1px solid @bg-color4;
            }
        }
    }

    nav .menu li .dropdown {
        position: absolute;
        top: 100%;
        li {
            width: 100%;
            border-bottom: 1px solid @bg-color4;
            a {
            font-size: 1.3em;
            border-left: none;
            }
        }
    }

    button {
        display: none;
    }

    .textblock {
        padding: 2em;
    }

    h2 {
        font-size: 1.3em;
        padding-top: 15px;
    }

    article p {
        font-size: 1.1em;
        padding: 20px 30px 20px 30px;
    }
    
    .weatherwidget-io {
        margin: 20px 15px 10px 15px;
    }
      
    .facebook-block {
        width: 50%;
        float: left;
        padding: 10px 0 10px 20px;
    }
    
    .twitter-block {
        width: 50%;
        float: right;
        padding: 10px 20px 0 20px;
        p {
            padding-bottom: 0;
        }
    }

    .slogan {
        font-size: 1.3em;
    }

    .gallery img {
        float: left;
        width: 33%;
        padding: 10px 10px 25px 10px;
    }

    h3 {
        font-size: 1.3em;
        padding-left: 30px;
    }
    
    footer p {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1em;
    }
    
    .social-icons {
        font-size: 1.3em;
        padding: 15px 15px 0 0;
    }

    .fa-facebook, .fa-twitter-square {
        font-size: 1.5em;
        margin-right: 0px;
    }
    
     .footer-link {
        float: right;
        font-size: 1em;
        padding: 20px 15px 20px 0px;
    }

    .copyright {
        padding: 10px 0 10px 0;
        font-size: 0.8em;
    }

    /* Event Page */

    .saturday {
        float: left;
        width: 55%;
        p {
            font-size: 1em;
        }
    }

    .sunday {
        float: left;
        width: 45%;
        p {
            font-size: 1em;
        }
    }

    .agenda {
        width: 100%;
        height: auto;
        padding: 20px 120px 0 120px;
    }

    .fee {
        font-size: 1em;
        text-align: center;
    }

    .runners {
        width: 100%;
        padding: 10px 100px 0 100px;
    }

    .red {
        font-size: 1.3em;
    }

    .course, .distance, .description {
        font-size: 1em;
    }

    .googlemap {
        font-size: 1em;
    }

    /* Registration */

    #registration {
        padding-left: 25px;
    }

    .name, .email, .emergency_name, .emergency_contact {
        width: 250px;
        height: 25px;
    }

    .accommodations {
        width: 350px;
        margin-left: 10px;
    }

    .age {
        width: 80px;
        height: 25px;
        margin-left: 10px;
    }

    label {
        font-size: 1em;
    }

    .gender-text, .role-text {
        font-size: 1em;
        display: inline-block;
    }

    span {
        padding-left: 20px;
        text-decoration: underline;
        font-size: 1em;
    }

    .event1, .event2 {
        margin-left: 25px;
        margin-top: 10px;
        font-size: 1em;
    }

    .submit {
        width: 100px;
        height: 40px;
        font-size: 1em;
        margin-left: 15px;
    }

    /* Contact Page */

    #contact {
        padding-left: 25px;
    }

    .comment {
        width: 310px;
        margin-left: 10px;
    }
    
     /* Success page */
    
    .form-submit {
        font-size: 1.2em;
    }

    /* FAQs Page */

    .question1, .question2, .question3, .question4, .question5 {
        padding: 15px;
        font-size: 1.1em;
        margin: 25px 25px 30px 25px;
    }

    .answer1, .answer2, .answer3, .answer4, .answer5 {
        padding: 0 12px 0 12px;
        margin-left: 25px;
        margin-right: 25px;
    }


}

/* DESKTOP STYLES */


@media only screen and (min-width: 992px) {

    html, body, main {
        height: 100%;
    }

    .logo img {
        width: 150px;
        height: auto;
        padding: 15px 0 15px 15px;
    }

    h1 {
        font-size: 2.2em;
        padding-top: 35px;
        padding-left: 30px;
    }

    nav {
        width: 100%;
        float: left;
        .menu {
            display: block !important;
        }
    }

    h2 {
        font-size: 1.5em;
    }

    article{
        width: 70%;
        float: left;
    }

    aside {
        width: 30%;
        float: right;
    }

    .weatherwidget-io {
        margin: 45px 15px 10px 15px;
    }

    .twitter-block, .facebook-block {
        float: none;
        width: 100%;
    }
    
    .facebook-block {
        padding-left: 2px;
    }
    
    .twitter-block {
        padding: 0 15px 50px 15px;
    }
    
    footer p {
        padding: 20px 0 20px 50px;
        font-size: 1.3em;
    }
    
    .social-icons {
        font-size: 1.5em;
        padding-top: 15px;
        padding-right: 50px;
    }
    
    .fa-facebook, .fa-twitter-square {
        font-size: 1.6em;
        margin-right: 10px;
    }
    
    .footer-link {
        font-size: 1.3em;
        padding: 20px 40px 20px 0px;
    }

    .copyright {
        padding: 15px 0 15px 0;
        font-size: 1em;
    }
    
    /* Event Page */

    .saturday {
        float: left;
        width: 55%;
        p {
            font-size: 1.1em;
        }
    }

    .sunday {
        float: left;
        width: 45%;
        p {
            font-size: 1.1em;
        }
    }

    .agenda {
        width: 100%;
        height: auto;
        padding: 40px 150px 0 150px;
    }

    .fee {
        font-size: 1em;
        float: left;
        text-align: left;
        width: 50%;
        padding-bottom: 30px;
    }

    .runners {
        width: 50%;
        display: inline-block;
        float: right;
        padding: 60px 20px 150px 20px;
    }

    /* Registration */

    .name, .email, .emergency_name, .emergency_contact {
        width: 280px;
        height: 30px;
    }

    .accommodations {
        width: 400px;
        margin-left: 15px;
    }

    .age {
        width: 80px;
        height: 28px;
        margin-left: 15px;
    }

    label {
        font-size: 1.2em;
    }

    .gender-text, .role-text {
        font-size: 1.1em;
    }

    span {
        padding-left: 10px;
        font-size: 1em;
    }

    .event1, .event2 {
        font-size: 1em;
    }

    .submit {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Contact Page */

    .comment {
        width: 400px;
        margin-left: 15px;
    }

    .contact-list {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    
    /* Success page */
    
    .form-submit {
        font-size: 1.4em;
    }

    /* FAQs Page */

    .faqs-box {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .answer1, .answer2, .answer3, .answer4, .answer5 {
        padding-bottom: 0;
    }


}
