/*============================

     GLOBAL/MOBILE STYLE

=============================*/

/* colors */

@bg-color: white;
@bg-color2: black;
@bg-color3: rgb(225,0,0);
@bg-color4: #c0c0c0;


body {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: @bg-color3;
    overflow: hidden;
}

header p {
    background-color: @bg-color4;
    height: 45px;
    text-align: right;
    margin: 0;
    padding: 0;
}

img {
    margin: 20px 30px 0 15px;
    float: left;
}

h1 {
    color: @bg-color;
    font-size: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    background-color: @bg-color2;
    overflow: hidden;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li {
            height: 30px;
            line-height: 30px;
            text-align: center;
            a {
                color: @bg-color;
                text-decoration: none;
            }
        
        }
    }
}

article {
    background-color: @bg-color;
    height: 370px;
    overflow: hidden;
    p {
        text-align: center;
        padding-top: 50px;
    }
}

aside {
    background-color: @bg-color4;
    height: 400px;
    overflow: hidden;
    p {
        text-align: center;
        padding-top: 50px;
    }
}

footer p {
    margin: 0;
    background-color: @bg-color2;
    color: @bg-color;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    clear: both;
}

hr {
    background-color: @bg-color3;
    margin: 0;
    padding: 0;
    height: 30px;
    border: none;
}

@media only screen and (max-width: 600px) {
    
    nav ul {
        display: none;
        li {
            border-bottom: 1px solid @bg-color4;
        }   
    }
}

/*============================

      RESPONSIVE STYLE

=============================*/


/* TABLET STYLES */

@media only screen and (min-width: 601px) {
      
    nav ul li {
            float: left;  
            display: inline-block;
            width:  20%;
            box-sizing: border-box;
            border-left: 1px solid @bg-color4;
    }
    
    button {
        display: none;
    }
    
}


/* DESKTOP STYLES */

@media only screen and (min-width: 961px) {
    
    nav {
        width: 75%;
        float: left;
    }
    
    article{
        width: 75%;
        float: left;
    }
    
    aside {
        width: 25%;
        float: right;
    }    
    
}